/* 기본 스타일 */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #ffffff; /* 배경색을 흰색으로 설정 */
}

.wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
}

/* 컨테이너 최대 너비 */
.container {
    max-width: 1200px; /* 최대 너비 설정 */
    margin: 0 auto; /* 중앙 정렬 */
    width: 100%;
    display: flex;
    padding-bottom: 100px;
}

/* 헤더 스타일 */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    padding: 10px 20px;
}

header div {
    margin-left: 14%;
}

header a {
    color: #333; /* 가독성을 위한 색상 */
    text-decoration: none;
    margin-left: 20px;
    font-size: 14px;
}

header i {
    font-size: 14px;
}

/* 네비게이션 */
nav {
    background: white;
    border: 1px solid #eee;
    padding: 10px 20px;
    text-align: center;
}

nav h1 {
    display: inline-block;
    margin-right: 15%;
}

nav a {
    margin: 0 70px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

nav a:hover {

}

/* 전체 페이지의 배경색 구분 및 중앙 배치 */
.login-wrapper {
    width: 1200px;  
    margin: auto;
    background-color: #f5f5f5;
    border: 1px solid #e0e0e0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

/* 로그인 컨테이너 (상단 흰색 부분) */
.login-container {
    background-color: #ffffff;
    padding: 60px 20px 20px 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #e0e0e0;
}

/* 입력 필드 컨테이너 */
.input-container {
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-bottom: 10px; 
    width: 100%;
}

.input-container label {
    font-size: 14px;
    width: 100px; 
}

.input-container input {
    width: calc(30%); 
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

/* 자동 로그인 체크박스 */
.autologin-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: calc(30%); 
    margin-left: 100px; /* 체크박스를 입력 필드와 동일한 열로 이동 */
    margin-bottom: 20px; 
}

.autologin-container input[type="checkbox"] {
    margin-right: 5px; 
}

.autologin-container label {
    font-size: 12px; 
}

/* 로그인 버튼 컨테이너 (가로로 배치) */
.login-button-container {
    display: flex;
    justify-content: center; 
    width: 100%;
    margin-top: 20px; 
}

/* 로그인 버튼 (중앙에 위치) */
.login-button {
    padding: 12px 195px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.login-button:hover {
    background-color: #222;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* 하단부 컨테이너 (회색 부분) */
.footer-container {
    background-color: #f1f1f1;
    padding: 20px;
    display: flex;
    justify-content: center; 
}

/* 서브 버튼 */
.sub-button {
    width: 200px; 
    padding: 10px;
    background-color: white;
    border: 1px solid #ccc;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    margin: 0 10px; 
}

/* 추가 버튼과 다른 버튼을 가로로 배치하는 컨테이너 */
.sub-button-container {
    display: flex;
    justify-content: space-between; 
    width: 100%;
    margin-top: 20px; 
}

/* 푸터 */
footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px 20px;
    font-size: 14px;
    margin-top: auto;
}

footer a {
    color: #0078d7;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}